* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-compra-ora{
    display: flex;

}
.polaroid-negative, .logo-negative {
    position: relative;
    transform: translateY(-120px);
}

