@media screen and (max-width: 1200px) {

    .readAll_container_cards {
        width: 2000px;
        
    }

    .readAll_card {
        margin-right: 30px;
    }

    .readAll_image {
        display: block;
        max-width: 100%;

    }
}