* {
    margin: 0;
    padding: 0;
}


.readAll_main_container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 50px;
}

.readAll_container {
    display: flex;
    justify-content: center;
    max-width: 85%;
}

.readAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}

/*?buttons*/

/**cards*/

.readAll_container_cards {
    display: flex;
    justify-content: space-between;
}

.readAll_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    width: 300px;
}

.readAll_img {
    display: flex;
    justify-self: center;
    width: 100%;
    height: 100%;

}

.readAll_image {
    width: 100%;
}

/**description cards*/

.readAll_img_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    min-width: 250px;
    height: 100%;
    text-align: center;
    margin: 16px;
    font-family: Cera Pro, sans-serif;
}

.readAll_h3 {
    line-height: 26px;
    font-size: 18px;
}

.readAll_p {
    line-height: 16px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.readAll_h3_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
}

.readAll_h3_arrow:hover {
    text-decoration: 0.1rem underline;
}


.readAll_svg_arrow {
    margin-left: 10px;
}

/**description site*/

.description_main_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.description_container {
    text-align: start;
    width: 85%;
    background-color: #f2f2f2;
}

.description_container p {
    margin: 26px;
    font-family: Cera Pro, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.description_span a {
    text-decoration: none;
    color: #006db7;
}

.description_span a:hover {
    text-decoration: underline;
}

/*media query*/

@media screen and (max-width: 1200px) {

    .readAll {
        overflow-x: scroll;
    }

    .readAll::-webkit-scrollbar {
        height: 6px;
    }

    .readAll::-webkit-scrollbar-track {
        background-color: rgba(169, 169, 169, 0.515);
        border-radius: 4px;
    }

    .readAll::-webkit-scrollbar-thumb {
        background-color: rgba(37, 37, 37, 0.727);
        border-radius: 4px;
        cursor: grab;
        width: 50%;
    }

    .readAll_img_description {
        width: 300px;
    }
}