@font-face {
  font-family: "Font-base";
  src: url(/fonts/Fontspring-DEMO-cerapro-light.otf) format("woff2"),
    url(/fonts/Fontspring-DEMO-cerapro-light.otf) format("woff");
}

@font-face {
  font-family: "Font-medium";
  src: url(/fonts/Fontspring-DEMO-cerapro-medium.otf) format("woff2"),
    url(/fonts/Fontspring-DEMO-cerapro-medium.otf) format("woff");
}

@font-face {
  font-family: "Font-bold";
  src: url(/fonts/Fontspring-DEMO-cerapro-bold.otf) format("woff2"),
    url(/fonts/Fontspring-DEMO-cerapro-bold.otf) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}