* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: small;
}

nav {
  z-index: 1000;
}

.white-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}

.areaGiochi a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: black;
  background: rgb(171, 217, 255);
  box-shadow: rgba(48, 85, 181, 0.44) 0px 1px 4px 0px;
  border-radius: 3px;
  cursor: pointer;
  margin: 24px;
  padding: 4px 8px 4px 8px;
  font-size: 10px;
  font-weight: 600;
}

.areaGiochi a:hover {
  background: white;
}

.left-arrow {
  margin-right: 8px;
  transform: rotate(180deg);
}

/* CAROSELLO */

.carousel {
  display: flex;
  align-items: center;
}

.carousel-text {
  padding: 0px 48px 0px 48px;
}

.carousel-btn {
  cursor: pointer;
  margin: 0 10px;
  border: none;
  background: none;
}

.carousel-left-arrow {
  transform: rotate(180deg);
}

/* RIGHT */

.navbar-right {
  margin-right: 16px;
}

.lego-head {
  padding: 0px 16px 0px 0px;
  cursor: pointer;
}

.placeholder-lego {
  padding: 0px 16px 0px 0px;
  cursor: pointer;
}

.navbar-right span {
  padding: 0px 16px 0px 0px;
  cursor: pointer;
}
