.yellow-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 207, 0);
  padding: 10px 36px 10px 36px;
  z-index: 1;
}

.yellow-navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  z-index: 3;
}

.yellow-navbar-right {
  display: flex;
  align-items: center;
}

/* .navigation-links {
  display: flex;
  justify-content: space-between;
  z-index: 3;
} */

#navigation_btn1,
#navigation_btn2,
#navigation_btn3 {
  width: 100px;
  height: 36px;
  border: none;
  margin-left: 16px;
  color: black;
  background: inherit;
  z-index: 3;
  cursor: pointer;
}

/*SEARCHBAR*/
.bodyOpacity {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.9;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  background-color: rgb(255, 255, 255);
}

.search_btn {
  border: none;
  border-radius: 60px;
  background-color: rgb(255, 255, 255);
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.search_btn svg {
  position: relative;
  top: 2px;
}

.search_input {
  display: none;
  width: 200px;
  height: 35px;
  border-radius: 60px;
  background-color: rgb(255, 255, 255);
  border: none;
  transition: width 0.5s ease-in-out;
}

.close_btn {
  display: none;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 60px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.close_btn svg {
  position: relative;
  top: 3px;
  left: 1px;
  height: 12px;
}

.heart-btn {
  position: relative;
  top: 3px;
  right: 4px;
  background-color: inherit;
  border-style: none;
}

.shop-icon {
  color: black;
  text-decoration: none;
}

.heart-btn,
.shop-icon {
  padding-left: 16px;
}

/*HIDDEN NAVBAR*/

.hiddenNvb_close_btn {
  display: none;
  position: relative;
  bottom: 100px;
  left: 500px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: inherit;
  border: none;
}

.navbar-hidden {
  display: none;
  min-width: 550px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  padding: 130px 0px 40px 145px;
  margin: 0;
  background-color: rgb(255, 255, 255);
  height: 100%;
}

.navbar-hidden a {
  color: black;
  text-decoration: none;
}

.navbar-hidden li {
  list-style: none;
  padding: 8px;
}

.navbar-hidden-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sub-menu {
  /* display: none; */
  overflow-x: auto;
  overflow-y: auto;
  border-left: 1px solid lightgrey;
  height: 100%;
}

.sub-menu-title {
  display: inline-block;
  text-wrap: nowrap;
  padding: 0 0 10px 45px;
}

/*MENU BUY*/

.menu-buy {
  /* display: none; */
  background-color: rgb(255, 255, 255);
  text-wrap: nowrap;
  margin-right: 10px;
}

.buy_list {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
}

.theme_list_container {
  display: none;
  overflow: hidden;
  height: min-content;
  margin: 0 0 0 40px;
  padding: 0 36px 0 40px;
}

.theme_list {
  display: flex;
  padding-left: 40px;
}

.sub-theme-list-container {
  text-wrap: nowrap;
  padding: 0 20px 0 0;
}

.age_list_container {
  display: none;
  margin: 0 0 0 40px;
  padding: 0 36px 0 40px;
}

.age_list {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.price_list_container {
  display: none;
  margin: 0 0 0 40px;
  padding: 0 36px 0 40px;
}

.price_list {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.merchandising_list_container {
  display: none;
  margin: 0 0 0 40px;
  padding: 0 36px 0 40px;
}

.merchandising_list {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.interests_list_container {
  display: none;
  margin: 0 0 0 40px;
  padding: 0 36px 0 40px;
}

.interests_list {
  display: flex;
  padding-left: 40px;
}

.sub-interest-list-container {
  display: flex;
  flex-direction: column;
}

.pickAndBuild_list_container {
  display: none;
  margin: 0 0 0 40px;
  padding: 0 36px 0 40px;
}

.pickAndBuild_list {
  padding-left: 40px;
}

/*MENU DISCOVER*/

.menu-discover {
  display: none;
  text-wrap: nowrap;
  margin-right: 10px;
}

.discover_list {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255)
}

.ourValue_list_container {
  display: none;
  margin: 0 0 0 40px;
  padding: 0 36px 0 40px;
}

.ourApp_list_container {
  display: none;
  margin: 0 0 0 40px;
  padding: 0 36px 0 40px;
}

.ourMagazine_list_container {
  display: none;
  margin: 0 0 0 40px;
  padding: 0 36px 0 40px;
}

/*MENU HELP*/

.menu-help {
  display: none;
  background-color: rgb(255, 255, 255);
  text-wrap: nowrap;
  margin-right: 10px;
}