.yellow-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 207, 0);
  padding: 8px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navigation-links li {
  display: inline-flex;
  list-style-type: none;
  margin: 16px;
}

.navigation-links li:nth-child(1) {
  margin-left: 60px;
}
