@font-face {
    font-family: 'myFontCeraLight';
    src: url(/fonts/Cera-Pro-Light.otf) format('woff');
    src: url(/fonts/Cera-Pro-Light.otf) format('woff2');
}


.background-arianna {
    width: 100%;
    height: 100%;
    background-color: #FFE6E5;
    font-family: 'myFontCeraLight', sans-serif;
    /* font-weight: bolder; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whole-first-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-compra-ora {
    display: flex;
    gap: 20px;
    margin: 30px;
    margin-top: 20px;
    text-align: center;
    height: 100%;
    width: 1300px;
    position: relative;
}


.container-compra-ora {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 30px;
    margin-top: 20px;
    text-align: center;
    position: relative;
}

.header-first {
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;

}


.header-first-section {

    font-size: 32px;
    margin-left: 180px;
    letter-spacing: 0.5px;
    padding-top: 20px;
    margin-right: 180px;
    font-size: 32px;
    margin-left: 160px;
    letter-spacing: 0.5px;
    padding-top: 20px;
    display: flex;
}

.flowers-img,
.megapolis-img,
.piantine-img {
    width: 100%;
}

.flowers-img {
    background-size: cover;
    max-width: 100%;
}

.description-first-section>h3,
.description-first-section>p,
.description-first-section>a {
    padding-top: 20px;
}

.description-first-section>h3 {
    padding-top: 16px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
}

.description-first-section>a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.description-first-section>a:hover {
    text-decoration-line: underline;
}

.description-first-section>svg {
    margin-top: 8px;
    width: 16px;
    position: relative;
    transform: translate(2px, 6px);
}

.description-first-section>p {
    margin: -8px;
    padding-bottom: 12px;
    line-height: 20px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 25px;
    font-size: 15px;
}

.description-first-section>p {
    margin: -8px;
    padding-bottom: 12px;
    line-height: 20px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 25px;
    font-size: 14px;
}

.container-compra-ora {
    margin-left: 160px;
    margin-right: 160px;
    height: 100%;
}

.container-compra-ora .left-arrow {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #edd5d4;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    left: -85px;
    top: 25%;
    display: none;
}

.container-compra-ora .right-arrow {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 100px;
    background-color: #edd5d4;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    left: 1305px;
    top: 25%;
    display: none;
}

/* second section Carosello Set in evidenza */

.description-carosello {
    width: 15px;
}

.img-example p {
    background-color: rgb(255, 207, 0);
    width: fit-content;
    padding: 6px 12px;
    font-size: 0.75rem;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 207, 0);
    width: fit-content;
    padding: 6px 12px;
    font-size: 0.75rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

.valutation-stars {
    display: flex;
    width: 70px;
    gap: 2px;
}

/* --------------- SLIDER  -------------- */
.slider-set {
    margin-left: 90px;
    margin-right: 90px;
    position: relative;
    width: 80%;
}

.slider-set #slider-right-button {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 100px;
    background-color: #edd5d4;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    left: 1450px;
    top: 35%;
}

.slider-set #slider-left-button {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #edd5d4;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    left: -75px;
    top: 35%;
    display: none;
    position: relative;
}

.slider-set #slider-right-button {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 100px;
    background-color: #edd5d4;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    left: 1450px;
    top: 35%;
}

.slider-set #slider-left-button {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #edd5d4;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    left: -60px;
    top: 35%;
    display: none;
}

#slider-right-button:hover {

    border: 1px solid black;
    background-color: white;
    filter: invert(100%);
    border: 1px solid black;
    background-color: white;
    filter: invert(100%);
}

/* CONTAINER DELLE CARDS DEL CAROSELLO !!!! */
.card-set {

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 35px;
    overflow-x: scroll;
}

.whole-card {  
   
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-example {   width: 290px;
    height: 290px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card-img-png {
    align-self: center;
    transition: all .4s ease-in-out;
    width: 90%;
    /* transition-delay: 0.05s; */
    transition-duration: .5s;
    background-color: #fff;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card-img-png {
    align-self: center;
    transition: all 0.4s ease-in-out;
    width: 90%;
    /* transition-delay: 0.05s; */
    transition-duration: 0.5s;
}

.card-img-png:hover {
    transform: scale(1.115);
}

.heart {
    margin-left: 15px;
    margin-top: 15px;
    width: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    width: 15px;
    border-radius: 50%;
}

.slider-set h3 {
    margin-bottom: 12px;
    font-size: 32px;
    padding-top: 30px;
    letter-spacing: 0.5px;
}

.description-carosello {
    width: 250px;
    height: 205px;
    padding: 8px;
    margin: 8px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.description-carosello button {
    padding: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(226, 34, 47);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: inherit;
}

.description-carosello button:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(226, 34, 47);
}

.description-carosello {
    width: 250px;
    height: 205px;
    padding: 8px;
    margin: 8px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.description-carosello button {
    padding: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(226, 34, 47);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: inherit;
}

.description-carosello button:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(226, 34, 47);
}

.description-carosello p {
    font-size: 16px;
}

.price {
    font-weight: bold;
    font-size: 18px;
}

/* CUSTOMIZING THE SCROLLBAR  */

.card-set::-webkit-scrollbar {
    padding: 15px;
    height: 6px;
}

.card-set::-webkit-scrollbar-track {
    background-color: rgba(169, 169, 169, 0.515);

}

.card-set::-webkit-scrollbar-thumb {
    background-color: rgba(37, 37, 37, 0.727);
    padding: 15px;
    height: 6px;
}

.card-set::-webkit-scrollbar-track {
    background-color: rgba(169, 169, 169, 0.515);
}

.card-set::-webkit-scrollbar-thumb {
    background-color: rgba(37, 37, 37, 0.727);
}

.card-set::-webkit-scrollbar-thumb:hover {
    background-color: black;
}

.card-set .left-arrow {
    display: block;
}

.card-set .right-arrow {
    display: block;
}

/* icons 8  */
/* rgb(226, 34, 47)        rosso bottone*/

/* rgb(255, 255, 255)     aggiungi al carrello font color */

/* rgb(248, 248, 248);     background cuoricino blu  */

/* third section  Iscriviti a LEGO Insiders*/

.lego-insiders {

    width: 100%;
    position: relative;
    background-color: #FFE6E5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ffe6e5;
}

.lego-insiders img {
    width: 100%;
    margin-top: 50px;
}

.text-over-lego-insiders {
    height: fit-content;
    width: 30%;
    height: 30%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
    /* padding: 200px 300px; */
    bottom: 120px;
    left: 120px;

}

.sub-insiders-h2 {
    font-size: 40px;
    font-weight: bold;
}

.sub-insiders-p {
    font-size: 18px;
    margin-top: 14px;
}

.diventa-socio-button {
    font-size: 16px;
    border-radius: 4px;
    padding: 14px 48px 14px 24px;
    background: #000;
    color: #fff;
    margin: 20px 2;
    border: none;
    margin-top: 20px;
}

.diventa-socio-button svg {
    filter: invert(100%);
    position: absolute;
    transform: translate(12px, 0px);
}

.diventa-socio-button:hover {
    background-color: #fff;
    color: black;

    svg {
        filter: invert(0%);
    }
}

/* MEDIA QUERIES  : TABLET*/

@media screen and (max-width: 768px) {
    .container-compra-ora::-webkit-scrollbar {
        padding: 15px;
        height: 6px;

    }

    .container-compra-ora::-webkit-scrollbar-track {
        background-color: rgba(169, 169, 169, 0.515);

    }

    .container-compra-ora::-webkit-scrollbar-thumb {
        background-color: rgba(37, 37, 37, 0.727);
    }

    .container-compra-ora::-webkit-scrollbar-thumb:hover {
        background-color: black;
    }

    .container-compra-ora {
        overflow-x: scroll;
        height: 100%;
        overflow-y: hidden;
        margin: 20px;
    }

    .left-arrow,
    .right-arrow {
        display: block;
    }

}



/* MEDIA QUERIES  : PHONE*/

@media screen and (max-width: 375px) {
    .background {
        width: 100%;
        height: 100%;
    }

    /* .flowers,
.megapolis,
.piantine {
    width: max-content;
} */

    .container-compra-ora::-webkit-scrollbar {
        padding: 15px;
        height: 6px;
    }

    .container-compra-ora::-webkit-scrollbar-track {
        background-color: rgba(169, 169, 169, 0.515);
    }

    .container-compra-ora::-webkit-scrollbar-thumb {
        background-color: rgba(37, 37, 37, 0.727);
    }

    .container-compra-ora::-webkit-scrollbar-thumb:hover {
        background-color: black;
    }

    .container-compra-ora {
        overflow-x: scroll;
        height: 100%;
        overflow-y: hidden;
        margin: 20px;
    }

    .left-arrow,
    .right-arrow {
        display: block;
    }
}