
@font-face {
  font-family: 'myFontCeraLight';
  src: url(/fonts/ceralight.otf) format('woff') ;
  src: url(/fonts/ceralight.otf) format('woff2') ;
}

* {
  margin: 0;
  padding: 0;
  font-family: "myFontCeraLight", sans-serif;
}

nav {
  font-family: Arial, sans-serif;
}

.white-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  font-size: small;
  z-index: 1;
}

.areaGiochi a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: black;
  background: rgb(171, 217, 255);
  box-shadow: rgba(48, 85, 181, 0.44) 0px 1px 4px 0px;
  border-radius: 3px;
  cursor: pointer;
  margin: 24px;
  padding: 4px 8px 4px 8px;
  font-size: 10px;
  font-weight: 600;
}

.areaGiochi a:hover {
  background: white;
}

.left-arrow {
  margin-right: 8px;
  transform: rotate(180deg);
}

/* CAROSELLO */

.carousel {
  display: flex;
  align-items: center;
}

#slides-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 405px;
}

#slides-container span {
  display: none;
  padding: 16px 8px 16px 8px;
}

#slides-container span:nth-child(1) {
  display: block;
}

.slides-link {
  margin-left: 10px;
}

.carousel-btn-prev,
.carousel-btn-next {
  cursor: pointer;
  margin: 0 10px;
  border: none;
  background: none;
}

.carousel-left-arrow {
  transform: rotate(180deg);
}

/* RIGHT */

.white-navbar-right {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.lego-head {
  padding: 0px 4px 0px 0px;
  cursor: pointer;
}

.placeholder-lego {
  padding: 0px 4px 0px 0px;
  cursor: pointer;
}

.white-navbar-right span {
  padding: 0px 16px 0px 0px;
  cursor: pointer;
}
