@import url(/AndreaSection/generalss.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Font-base", sans-serif;
    /* font-weight: bolder;  */
  }
  


body {
    width: 100vw;
}

.andrea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
}

.top-slider-container {
    display: flex;
    justify-content: center;
    padding: 30px 60px 60px;
}

.carousel {
    width: 1380px;

    overflow-x:scroll;
}

.cards-container {
    display: flex;
    flex-wrap: nowrap;
    width: 1280px;
}

.card {
    width: calc(25% - 0.1rem);
    margin-right: 2.1875rem;
}

.card:last-child {
    margin-right: 0px;
}

.card-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 342px;
    width: 100%;
    border: 1px solid black;
}

.card-description {
    display: flex;
    flex-direction: column;
}

.stars-container {
    display: flex;
    overflow: hidden;
    height: 15px;
}
.stars-container img {
    width: 15px;
}

.price {
    font-size: 18px;
}

.heart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    left: 18px;
    z-index: 2;
    background-color: lightgrey;
    border-radius: 50%;
}
.heart img {
    height: 22px;
    width: 22px;
}

.article-name {
    font-size: 16px;
    line-height: 25px;
    padding: 0.3125rem 0px;
}

.price {
    margin: 8px 0px;
}

.addToCart {
    background-color: orange;
    color: black;
    width: 100%;
    height: 60px;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.novita {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 0.19rem 0.625rem;
    background-color: rgb(255, 208, 0);
}



/* SLOGAN SECTION */

.second-jumbotron {
    position: relative;
    width: 100%;
}

.jumboDragon {

    width: 100%;
    height: 100%;
}

.slogan {
    position: absolute;
    top: 32%;
    left: 6%;
    z-index: 2;
    font-size: 25px;
    width: 500px;
    height: 222px;
    gap: 20px;
}

.slogan h4{
    font-size: 32px;
}

.slogan p {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 18px;
}


.slogan button{
    border: none;
    height: 40px;
    width: 130px;
    color: white;
    background-color: black;
}

.bottom-cloud {
    margin-top: -8px;
    width: 100%;
}


.bottom-section {
    display: flex;
    justify-content: center;
    width: 1500px;
    margin-bottom: 50px;
    
}

.bot-container {
    width: 1050px;

}

.suggestion {
    font-size: 25px;
    margin: 40px 0px 20px;
}

.bot-slider-container {
    display: flex;
    align-items: baseline;
    overflow-x: scroll;
    gap: 14px;
}

.cinema-card {
    flex-shrink: 0; 
    width: calc(25% - 10px); 
    height: 332px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.cinema-spot img {
    max-width: 100%;
}

.cinema-card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 133px;
    margin-top: 20px;
    gap: 20px;
    text-align: center;
}

.cinema-card-name {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}